<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Mirar Evento</title>
  </head>
  <body>
    <header>
   <nav class="nav justify-content-center bg-success">
    <a href="#" class="logo">
      <img src="img/LOGO ALTA DEFI (1).png" width="300" height="150" alt="Logo UNE"
      class="logo-img">
    </a>
   </nav>
   <div style="background: #ccc; height: 3vh;"></div>
    </header>
    <nav class="nav ps-1 justify-content-center bg-white">
        <a href="../../User/perfil/" class="nav-link text-reset">Mi Perfil</a>
        <a href="../crearEvento/" class="nav-link text-reset">Crear Eventos</a>
        <a href="../../accounts/logout/ " class="nav-link text-reset">Cerrar sesion</a>
        <a href="../listview/" class="nav-link text-reset">Buscar eventos</a>
       </nav>
       <div style="background: #ccc; height: 3vh;"></div>
       <div class="container d-flex align-items-center justify-content-center height-100 mt-5"> 
        <div class="row">
        <!---Columna Izquierda-->
            <div class="col-10 col-lg-5 bg-primary">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <h2 class="text-center">{{event.date}}></h2>
                        <img src="INICIO/UNE.png" alt="" width="400" height="400">
                        <h2 class="text-center">{{event.name}}</h2>
                        <div class="button mt-2 text-center">
                        <input type="submit" value="Asistir al evento" class="btn text-center btn-danger">
                        </div>
                    </div>
                
                </div>
            </div>
             <!--Columna Derecha--> 
            <div class="col-10 col-lg-7 bg-success ">
                <h2 class="text-center">No faltes a este evento</h2>
                <h3 class="text-center">{{event.Description}}</h3>
                <h3 class="text-center">{{event.image}}</h3>
                <div class="img_event">
                    <div class="row">
                        <div class="col-6 col-lg-6 bg-secondary">
                            <img src="img/cyt.jpg" alt="" width="200" height="200">
                        </div>
                        <div class="col-6 col-lg-6 btn-warning">
                            <img src="img/cyt.jpg" alt="" width="200" height="200">
                        </div>
                    </div>
                    <div class="button mt-2 text-center">
                        <input type="submit" value="Etiqueta" class="btn text-center btn-info">
                        <input type="submit" value="Registrarse" class="btn text-center btn-info">
                    </div>
                    <div class="container d-flex align-items-center justify-content-center height-100 mt-3">
                        <div class="row">
                            <div class="col-12 col-lg-12 bg-secondary">
                                <img src="INICIO/person.png" alt="" width="150" height="150">
                            </div>
                        </div>
                        <div class="container d-flex align-items-center justify-content-center height-100 mt-4 p-1">
                            <div class="row">
                            <div class="col-12 col-lg-12 bg-secondary">
                                <h3>Nombre creador</h3>
                                <div class="col-12 col-lg-12 bg-primary">
                                    <div class="contacto mt-2">
            
                                            <div class="col-12 lg-12">
                                                <img src="INICIO/ig.png" alt="" width="50" height="40">
                                                <b>CUENTA</b>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
               
        </div> 
    </div>
    

  </body>
</html>