<html>
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title> {{user.username}}</title>
    
    </head>
    <body>

           <nav class="nav ps-1 justify-content-center bg-white">
            <a href="../../User/perfil/" class="nav-link text-reset">Mi Perfil</a>
            <a href="../../event/crearEvento/" class="nav-link text-reset">Crear Eventos</a>
            <a href="../../accounts/logout/ " class="nav-link text-reset">Cerrar sesion</a>
            <a href="../../event/listview/" class="nav-link text-reset">Buscar eventos</a>
           </nav>
    
           
           <div class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column;  ">
            <div class="container mt-5 mb-5">
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-4"><img src="https://i.imgur.com/aCwpF7V.jpg"></div>
                    <div class="col-md-8 col-lg-8">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                                <h3 class="display-5">{{user.username}}</h3><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i></div>
                            <div class="p-3 bg-black text-white">
                                <h6> quien soy</h6>
                            </div>
                            <div class="d-flex flex-row text-white">
                                <div class="p-4 bg-primary text-center skill-block">
                                    <h4>Estudio</h4>
                                    <h6>{{user.pregrado}}</h6>
                                </div>
                                <div class="p-3 bg-success text-center skill-block">
                                    <h4> de la facultad de:</h4>
                                    <h6>{{user.faculty}}</h6>
                                </div>
                                <div class="p-3 bg-warning text-center skill-block">
                                    <h4>mi rango</h4>
                                    <h6>{{user.rango}}</h6>
                                </div>
                                <div class="p-3 bg-danger text-center skill-block">
                                    <h4>Mis gustos</h4>
                                    {%for gusto in user.category.all%}
                                    <h6>{{gusto}}</h6>
                                    {%endfor%}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            
            {%for i in user%}
            {%for event in i.event.all%}
            
            <div class="container" style="display: flex; justify-content: space-around; align-items: center; flex-direction: row;">
                <h2> mis eventos</h2>
                <div class="card" style="width: 55vw; margin-top: 20px;">
                    <div class="card-header"> 
                        <div class="card-body" style="display: flex;  flex-direction: column;   padding: 10px;">
                
                            <h5 class="card-title">{{event.name}}</h5>
                            <p> {{event.date}}</p>
                            <p class="card-text">{{event.Description}}</p>
                            <p class="card-text">{{event.hour}} </p>
                            <p class="card-text"> {{event.place}}</p>
                            <div class="container" style="display: flex; justify-content: end;">
                                <a href="../../event/eliminarEvento/{{event.id}}"  style = "margin-right: 5% ;" class="btn btn-danger">Eliminar</a>
                                <a href="../../event/actualizarEvento/{{event.id}}"  style = "align-items: center;margin-right: 5% ; " class="btn btn-warning">Actualizar</a>
                                <a href="../../event/verEvento/{{event.id}}"  style = "align-items: flex-end; margin-right: 5% ;" class="btn btn-info">Ver mas</a>

                            </div>
                           
                          </div>   
                    </div>
                    
                   </div>
            </div>
            {%endfor%}
            

               {% endfor %}


    {% if is_paginated %}
  <ul class="pagination" style="margin-top: 2% ;">
    {% if page_obj.has_previous %}
      <li><a  class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span></span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><span> <span class="page-link">{{i}}</span></span></li>
      {% else %}
        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span></span></li>
    {% endif %}
  </ul>
{% endif %}
  
           </div>
           
    </body>

    <style>
        img {
  width: 100%;
  height: 100%;
}

.bg-black {
  background: #000;
}

.skill-block {
  width: 30%;
}

@media (min-width: 991px) and (max-width:1200px) {
  .skill-block {
    padding: 32px !important;
  }
}

@media (min-width: 1200px) {
  .skill-block {
    padding: 56px !important;
  }
}

body {
  background-color: #eeeeee;
}
    </style>
</html>
