* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(241, 234, 234);
}



form.Form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;


}
.Titulo {
    font-size: 45px;
    color:#A61C31;
    margin-bottom: 20px;
    margin-right: 5px;

}

.input-Logos {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #837883;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-Logos i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}

.input-Logos input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0,0.8);
}
.btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #5a2b32;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background: #e23b49;}



.image{
    width: 410px;
    height: 210px;
    margin-top: 120px;
    margin-left: 1px;
    
}
/*Responsive*/
