<head>
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
   
       <!-- Bootstrap CSS -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
       <title>Entrar</title>
</head>
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<!--
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
-->
<div class="login-page bg-light">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h3 class="mb-3">Entrar</h3>
              <div class="bg-white shadow rounded">
                  <div class="row" style="height: 45vh;">
                      <div class="col-md-7 pe-0">
                          <div class="form-left h-100 py-5 px-5">
                            <form method="post" action="{% url 'login' %}"class="rog g-4">
                              {% csrf_token %}

                                      <div class="col-12">
                                          <label>Username<span class="text-danger">*</span></label>
                                          <div class="input-group">
                                              <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                              <td class="form-control">{{ form.username }}</td>
                                              
                                          </div>
                                      </div>

                                      <div class="col-12">
                                          <label>Password<span class="text-danger">*</span></label>
                                          <div class="input-group">
                                              <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                              
                                              <td class="form-control" style="width: 40%;">{{ form.password }}</td>
                                          </div>
                                      </div>

                  

                                      <div class="col-sm-6">
                                          <a href="#" class="float-end text-primary">Forgot Password?</a>
                                      </div>

                                      <div class="col-12">
                                          <button input type="submit" value="login" class="btn btn-primary px-4 float-end mt-4">login</button>
                                      </div>
                              </form>
                          </div>
                      </div>
                      <div class="col">
                          <div class="form-right h-100 bg-primary text-white text-center ">
                              
                              <img src="https://files.rcnradio.com/public/2019-12/Universidad%20Nacional%2C%20sede%20Bogot%C3%A1.jpg" style = "height: 100%; width: 100%;"class ="img-fluid" alt="">
                          </div>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
  </div>
</div>

<style>
  a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}
.form-right i {
    font-size: 100px;
}

</style>

{% endblock %}